<h1>Pokemon</h1>
<form action="/pokemon" method="POST">

  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  <br>

  <h1>Pokemon Team</h1>
  <label for="POST-pokemon1">First Pokemon</label><br>
    
  <label for="POST-pokemon-name">Name:</label>
  <input id="POST-pokemon1" type="text" name="pokemon[0][name]">
  <label for="POST-pokemon-name">Type:</label>
  <input id="POST-pokemon1" type="text" name="pokemon[0][type]">
  <br><br>
  <label for="POST-pokemon2">Second Pokemon</label><br>
  <label for="POST-pokemon-name">Name:</label>
  <input id="POST-pokemon2" type="text" name="pokemon[1][name]">
  <label for="POST-pokemon-name">Type:</label>
  <input id="POST-pokemon2" type="text" name="pokemon[1][type]">
  <br><br>
  <label for="POST-pokemon3">Third Pokemon</label><br>
  <label for="POST-pokemon-name">Name:</label>
  <input id="POST-pokemon3" type="text" name="pokemon[2][name]">
  <label for="POST-pokemon-name">Type:</label>
  <input id="POST-pokemon3" type="text" name="pokemon[2][type]">
  <br>

  <h1>Badges</h1>
  <label for="POST-badges">Badges Earned</label><br>
  <input id="POST-badges" type="text" name="badges[0]">
  <input id="POST-badges" type="text" name="badges[1]">
  <br><br>
  <button type="submit" value="submit">Submit</button>

</form>